ANALYTICS_PASSWORD=
ANALYTICS_USERNAME=
ANDROID_CLIENT_ID=
BASE_URL=
CLIENT_ID=
CLIENT_SECRET=
CORS_ALLOWED_ORIGINS=
DISCORD_BOT_TOKEN=
ENCRYPTION_KEY=
GMAIL_APP_PASSWORD=
GUILD_ID=
IOS_CLIENT_ID=
LISTMONK_ENABLED=
LISTMONK_FINAL_EMAIL_REMINDER_ID=
LISTMONK_INITIAL_EMAIL_REMINDER_ID=
LISTMONK_LIST_ID=
LISTMONK_PASSWORD=
LISTMONK_SECOND_EMAIL_REMINDER_ID=
LISTMONK_URL=
LISTMONK_USERNAME=
MAILCHIMP_API_KEY=
MAILJET_API_KEY=
MAILJET_API_SECRET=
MAILJET_LIST_ID=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MONGO_DB_NAME=
MONGO_URI=
PORT=
SCHEJ_EMAIL_ADDRESS=
SELF_HOSTED_PREMIUM=
SLACK_DEV_WEBHOOK_URL=
SLACK_MONETIZATION_WEBHOOK_URL=
SLACK_PROD_WEBHOOK_URL=
STRIPE_API_KEY=
STRIPE_LIFETIME_PRICE_ID=
STRIPE_LIFETIME_STUDENT_PRICE_ID=
STRIPE_MONTHLY_PRICE_ID=
STRIPE_MONTHLY_STUDENT_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
STRIPE_YEARLY_PRICE_ID=
STRIPE_YEARLY_STUDENT_PRICE_ID=
